<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap" rel="stylesheet">
</head>


<ion-content [fullscreen]="true">

  <div class="background-container">
    <img src="/assets/img/preset_foto_bienvenida.jpg" alt="fondo_bienvenida" class="fondo-bienvenida">
  </div>

  <div class="centered-content">
    <h1>Bienvenido <br>Prepuber</h1>
    <div class="bottom-bar"></div>
    <div class="button-container">
      <button class="custom-button" (click)="goToLogin()">Iniciar sesión</button>
      <button class="custom-button2" (click)="goToSignup()">Únete</button>
    </div>
  </div>

</ion-content>
