<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <div class="profile-photo-container">
        <img class="profile-photo" [src]="user.profilePhoto" alt="Foto de perfil">
      </div>
      <p><strong>Nombre:</strong> {{ user.name }}</p>
      <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
      <p><strong>Teléfono:</strong> {{ user.phone }}</p>
      <p><strong>Número de viajes realizados:</strong> {{ user.trips }}</p>
      <p><strong>Sede más frecuente:</strong> {{ user.mostFrequentDestination }}</p>
      <p><strong>Fecha del último viaje:</strong> {{ user.lastTripDate }}</p>
    </ion-card-content>
    <img src="assets\img\FundacionDJ.png" alt="">
  </ion-card>
</ion-content>
