ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .FotoAuto {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .solicitar-transporte-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .solicitar-transporte-button {
    --background: #4CAF50;
    --background-activated: #45a049;
    --background-hover: #45a049;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  