ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.logo-header {
  width: 40px;
  margin-right: 10px;
}

.FotoAuto {
  max-width: 80%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.solicitar-transporte-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.solicitar-transporte-button {
  --background: linear-gradient(45deg, #4CAF50, #45a049);
  color: white;
  font-size: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.informacion-transporte {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;

  ion-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #4CAF50;
  }
}

.datos-adicionales {
  width: 100%;
  max-width: 500px;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datos-adicionales h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

ion-item {
  margin: 10px 0;
  font-size: 16px;

  ion-icon {
    color: #4CAF50;
    margin-right: 8px;
  }
}

/* Animaciones */

/* Animacion ZoomIn para Autito */
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.FotoAuto {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: block;
  animation: zoomIn 1s ease-in-out;
}

/* Animacion fade-in para Logo Duoc */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.LogoDuoc {
  width: 200px;;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: fadeIn 2s ease-in-out;
}

/* Animacion slide-up para el texto Patrocina */
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.patrocina-text {
  text-align: center;
  font-size: 1.5rem;
  animation: slideUp 1.5s ease-in-out;
}


/* Animacion rotate para la Fundación DJ */
@keyframes rotateIn {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.FundacionDJ {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: rotateIn 1.5s ease-in-out;
}