.titulo {
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 8vw;
  font-weight: 700;
}

.contenido-principal {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 5vw;
}

.contenedor-transparente {
  padding: 5vw;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  margin-top: 20vh; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0);
}

ion-input {
  background: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid rgb(12, 200, 220);
  --placeholder-color: cyan;
  color: cyan;
  padding: 2vh 2vw;
}

ion-input::part(native) {
  color: cyan;
  border-radius: 15px;
}

ion-content {
  --background: url('/assets/img/Fondo_de_pantalla.webp') no-repeat center center / cover;
}

.custom-button {
  display: inline-block;
  padding: 2vh 4vw;
  border: 2px solid #00eaff;
  border-radius: 10px;
  background: linear-gradient(45deg, #8a5f71, #078649);
  color: #15d8e9;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
  background: linear-gradient(45deg, #36d759, #00e5d9);
  color: #000000;
  border-color: #00bcd4;
}

p {
  font-size: 4vw;
  text-align: center;
  margin: 20vh 0 0;
}

.link_crear_cuenta {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
  transition: color 0.3s;
}

.link_crear_cuenta:hover {
  color: #f0f0f0;
}
