<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>


<ion-content [fullscreen]="true">
  
  <div class="contenedor-transparente">
    <h2 class="titulo">Bienvenido</h2>
    <br>
        <ion-input type="text" placeholder="Nombre de Usuario" [(ngModel)]="username" required></ion-input>
        <br>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
        <br>
        <button class="custom-button" (click)="login()">Ingresar</button>
  </div>
  <p>¿No tienes cuenta? <a class="link_crear_cuenta" href="registro">Crea una aquí!</a></p>
  
  

</ion-content>
